.heder-page {
  position: relative;
  height: 60px;
  width: 100%;
}
//     Dog-catalog    
.dog-h2{
  font-size: 26px;
  color: $col-more;
  text-shadow:#fff 0 1px 0;
  padding-bottom: 30px;
  text-transform: uppercase;
}