// --------------posts---------------------

.article article{
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 20px;
  text-indent :30px;
  .post-h2{
    padding-top: 20px;
  }
  & .post-date{
    text-align: right;
  }
  & .img-post{
    display: block;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 20px;
  }
  & p{
    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;
  }
}

.Previous-next{
  position: relative;
  display: block;
  width: 100%;
  margin: 20px 0 60px;
  font-weight: 500;
  .p_n{
    text-decoration : none;
    transition: all .3s ease;
    display: inline-block;
    padding: 5px 25px 5px 0px;;
  }
  .previous{
    margin-left: -50px;  }
  .nextous{
    margin-left: 20px;
  }
}
@media only screen and (max-width:460px) {
  .exp{
    font-size: 16px;
  }
}
