<footer class="footer">
  <a name="contact"></a>
  <div class="cont-footer">
    <div class="wrap">
      <div class="foot-grid">
        <div class="adres">            <h3>Некомерческое Общественное Обьеденение </h3>
          <span class="logo l-f">
            <a href="/">ЗООЩИТ</a>
          </span>
          <address>
            <p>51900  Днепропетровская область.<br>
              г.Каменское.<br> ул.Долматова 77.<br>
              zoo@e_poschta.ua<br>
              <b>(+38) 097 777 77 77</b>
            </p>
          </address>
        </div>
        <div class="help">
          <h3>Помощь для животных</h3>
          <p>
            Расчетный счет в Банке<br>
            р/с <b>123456789</b><br>
            МФО <b>123456</b><br>
            назначение платежа:<br>
            "благотворительная помощь"<br>
            Карточка банка <br>
            <b>1111 2222 3333 4444</b> <br>
            Продукты и матерьялы <br>
            <b>(+38) 097 777 77 77</b>
          </p>
        </div>
        <div class="soch">
          <h3>Наша страничка в соцсетях</h3>
          <p>Следите за нашими мероприятиями и отчётами.</p>
          {% include social-icon.html icon="Facebook" %}
          {% include social-icon.html icon="Twitter" %}
          {% include social-icon.html icon="YouTube" %}
          <h3>Наши партнёры</h3>
          <p>
            Отдел обращения с животными горисполкома г.Каменского.<br>
            Газета "События". <br>
            ЦКР
          </p>
      </div>
    </div>
  </div>
</footer>