<header class="heder " >
      <div class="line-top">
        <div class="wrap-top">
          <span class="logo">
            <a href="/">ЗООЩИТ</a>  </span>
        <div class="menu-wrap">
          {%include nav.html class='menu'%}
        </div>
          <a href="#" class="toggle-mnu  "><span></span></a>
          <span class="leng">
            <a id="ru">рус</a>
            <a id="ukr">укр</a>
          </span>
        </div>
      </div>
      <div class="menuMob-wrap">
        {%include navMob.html class='menuMob'%}
      </div>
        <div class="heder-slick">
          <div class="slaid s1" >
            <div class="sl-text">
            <div id="sl1">
              <span id="h1-p">Некомерческое Общественное Обьеденение </span><br> <span id="h1">ЗООЩИТ</span><br>
              <strong>(+38) 097 777 77 77</strong>
            </div>
            </div>
          </div>
          <div class="slaid s2" >
            <div class="sl-text">
              <div id="sl2">
              <span class="logo sl-logo">ЗООЩИТ</span><br> <b id="sl-logo-tx">Наша страничка в соцсетях</b><br>
              <a id="h1-fb" href="https://ru-ru.facebook.com/dogs.dndz/" target="_blank" rel="nofollow">Facebook</a>
            </div>
            </div>
          </div>
          <div class="slaid s3">
            <div class="sl-text">
              <div id="sl3">
                <p><b>Помощь для животных</b><br>
                    Карточка банка <br>
                    1111 2222 3333 4444 <br>
                    Продукты и матерьялы <br>
                    (+38) 097 777 77 77
                </p>
              </div>
            </div>
          </div>
          <div class="slaid s4">
            <div class="sl-text">
              <div id="sl4">
                <p><b>Присоеденяйтесь к Нашей команде</b><br><br>
                Волонтерская потдержка <br>
                (+38) 097 777 77 77
                </p>
              </div>
            </div>
         </div>
      </div>
      <div class="heder-slog">
        <div class="wrap">
          <span>&#8220;</span><cite>Собака: единственное существо, которое любит вас больше, чем вы сами.</cite><span>&#8221;</span><br>
          <span id="avt">Генри Шоу</span></div><a name="kotalog"></a>
      </div>
      <div class="btn-up">&#9650;</div>
</header><div class="hr"></div>
