@charset "utf-8";

@import "base_css/_base" ;
@import "base_css/font";
@import "base_css/slick";
@import "base_css/slick-theme";
@import "word_css/heder","word_css/_heder-page";
@import "word_css/footter";
@import "word_css/s-katalog","word_css/s-nuws";
@import "word_css/page";
@import "word_css/posts";

*{
  box-sizing : border-box ;
  margin: 0;
  padding: 0;
}

body  {  
  font-family:  Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400 ;
  color: $col-font;
  background-color: $col-fon;
  min-height: 100vh;
}
section{
  background-color: $col-fon;
}

.wrap {
  width: 90%;
  margin: 0 auto;
}

a {
  color: $col-a;
  text-decoration: none;

  &:visited {
    color: darken($col-a, 5%);
 }

  &:hover {
    color: $col-a_hover;
    text-decoration: underline;
    transition: all 0.3s ease;
  }
}
.hr{
  width: 100%;
  height: 2px;
  background-color: $col-fon2;
}
h2{
  font-size: 26px;
  font-weight: 500;
  color:$col-more;
  text-align: center;
  text-shadow:#fff 0 1px 0;
}
.s-conteiner{
  width: 100%;
  display: flex;
}
.katalog{
  width: 100%;
  height: auto;
}
